language: python
matrix:
  include:
    - env: TOXENV=py26
    - env: TOXENV=py27
    - env: TOXENV=py34
    - env: TOXENV=py35
      python: 3.5
    - env: TOXENV=py36
      python: 3.6
    - env: TOXENV=pypy
    - env: TOXENV=docs
    - env: TOXENV=coverage
install: pip install tox coveralls
script: tox
after_success: coveralls
